<!-- SImple hTml-->
<!-- <div class="row" *ngFor="let session of sessions">
    <div class="col-md-10">
      <div class="well">
          <h4>{{session.name}}</h4>
          <h6>{{session.presenter}}</h6>
          <span>Duration: {{session.duration}}</span><br />
          <span>Level: {{session.level}}</span>
          <p>{{session.abstract}}</p>
      </div>
    </div>
</div> -->

<!-- With Content Projection-->
<div class="row" *ngFor="let session of filteredSessions">
  <div class="col-md-1" *ngIf="auth.isAuthenticated()">
    <upvote (vote)="toggleVote(session)" [count]="session.voters.length" [voted]="userHasVoted(session)">
    </upvote>
  </div>
  <div class="col-md-10">
    <collapsible-well>
        <div sessionTitle>
          <h4>
            {{session.name}}
            <i *ngIf="session.voters.length > 3" class="glyphicon glyphicon-fire" style="color: red;"></i>
          </h4>
        </div>
        <div sessionBody>
          <h6>{{session.presenter}}</h6>
          <span>Duration: {{session.duration | duration}}</span><br />     <!-- This is displayed inside <ng-content></ng-content> of collapsible-well component's template -->
          <span>Level: {{session.level}}</span>

          <p>{{session.abstract}}</p>
        </div>
    </collapsible-well>
  </div>
</div>
